html {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(12, 12, 12);
    letter-spacing: 1px;
    font-size: 0.8rem;
}

td,
th {
    border: 1px solid rgb(12, 11, 11);
    padding: 10px 20px;
}

td {
    text-align: center;
}

caption {
    padding: 10px;
}

@media print {
    button {
        display: none;
    }
}